*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: black;
  /* padding: 30px 10px; */
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}
.home-search__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  gap: 50px;
  /* text-align: center; */
  /* margin-left: 700px; */
}
.home-search__container i {
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  background-color: #2d2d2d;
  border-radius: 30px;
}
.search-container {
  /* padding: 20px; */
  /* border: 1px solid white; */
  border-radius: 8px;
  padding: 5px;
  width: 500px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* margin-bottom: 30px; */
}
.search-container input {
  border-radius: 30px;
  border: 0px solid;
  background: #2d2d2d;
  color: #fff;
  padding: 10px 25px;
  height: 40px;
  font-size: 16px;
  width: 350px;
}
.search-container i {
  color: white;
  font-size: 1.5rem;
  /* padding: 10px;
  background-color: #2d2d2d;
  border-radius: 30px; */
}
.button-container i {
  font-size: 1.5rem;
  color: white;
}
/* main {
   margin-top: 50px;
  background-color: black; 
} */
ul {
  list-style: none;
}
.main {
  background-color: rgba(35, 29, 29, 0.781);
  display: flex;
  /* border-radius: 50px; */
}
.aside {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 30%;
  /* width: 300px; */
  background-color: rgba(35, 29, 29, 0.781);
  height: 100svh;
  /* border-radius: 30px; */
}
.header-aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
  width: 150px;
  margin-bottom: 30px;
}
.header-aside span {
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(52, 1, 52);
  background-color: rgb(200, 198, 198);
}
.header-aside h3 {
  color: white;
}

/* .h5-aside {
  color: rgb(223, 217, 217);
  margin-bottom: 20px;
} */
.ul-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  /* height: 100%; */
}
.ul-aside li {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 50px;
}
.li-aside:hover {
  background-color: rgba(111, 93, 93, 0.902);
  padding: 10px;
  border-radius: 20px;
  transition: all 500ms ease;
}
.ul-aside li span {
  margin-left: 10px;
}
.section {
  display: flex;
  flex-direction: column;

  /* align-items: center; */
  justify-content: space-between;
  width: 100svw;
  padding: 40px 20px;
}
.section-navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.ul-section {
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.ul-section li {
  color: white;
  font-size: 1rem;
  gap: 20px;
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
/* .nav-button {
  height: 20px;
  padding: 10px;
} */

.button-container img {
  height: 50px;
  width: 70px;
  border-radius: 50%;
}
.button-container span {
  color: white;
  font-size: 1rem;
}
.img-container__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.section {
  border-radius: 50px;
  background-color: white;
  color: white;
}
.music-card {
  background-color: rgba(23, 18, 18, 0.902);
  /* background-color: black; */
  width: 700px;
  height: 200px;
  padding: 20px 50px;
  border-radius: 30px;
  display: flex;
  /* overflow: hidden; */
  position: relative;
}
.music-card_txt__area {
  width: 300px;
}
.h5-music_card,
.h2-music_card {
  margin-bottom: 30px;
}
.music-card_img {
  height: 100px;
}
.music-card-img__container img {
  height: 200px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 20px;
}
